.body{
    font-family: Lucida Sans Unicode;
    overflow: auto;
}

.post{
    margin: 10px 30px;
    font-family:Arial, sans-serif;
}

.post #postTitle{
    text-align: center;
}

.action, .action-edit{
    display: flex;
    align-items: center;
}

.action #user, .action-edit #user{
    font-size: 18px;
    font-family: Verdana, monospace;
}

.action button, .action-edit button{
    position: absolute;
    right: 30px;
}

.post button{
    background-color: #E70C5E;
    color: white;
    padding: 10px 12px;
    outline: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

#postTitle-edit{
    width: 100%;
    text-align: center;
    border: 1px solid pink;
    font-size: 25px;
    font-weight: bold;
}

#description-edit{
    width: 100%;
    border: 1px solid pink;
}

.like p{
    font-family:Courier New, monospace;
    font-size: 12px;
    font-weight: normal;
}

.commentArea button{
    margin-top: 10px;
    background-color: #E70C5E;
}

.commentArea textarea{
    width: 65%;
    min-width: 10%;
    min-height: 20%;
}

.comments{
    padding: 5px;
    background-color: #E5E7E9;
    width: 65%;
}

.comment{
    padding: 15px 8px;
    background-color: #fefefe;
}